<!-- Latest compiled and minified CSS -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<section class="vh-200">
  <div class="container h-200">
    <form style="width: 26rem" action="/newgenre" method="post">
      <!-- Name input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="title">Label</label>
        <input type="text" id="title" class="form-control" name="label" />
      </div>
      <br />
      <!-- Submit button -->
      <button
        data-mdb-ripple-init
        type="submit"
        class="btn btn-primary btn-block mb-4"
      >
        Send
      </button>
    </form>
  </div>
</section>
